{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">User list</h1>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-primary" href="{{ path('app_user_new') }}">Create a new entry</a>
        </li>
    </ul>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('app_user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a class="btn btn-sm btn-default" href="{{ path('app_user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-sm btn-default"  href="{{ path('app_user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
